.containerdiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 225px 425px 425px 300px;
  grid-gap: 10px;
}

.row {
  background-color: #0593be;
  color: khaki;
  padding: 1rem;
}

.berufserfahrung {
  background-color: #0593be;
  color: black;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 1rem;
}

@media screen and (max-width: 350px) {

  .rowwrapper {
    width: 100%;
    display: inline-grid;
  }

}