*{
  border: .5em solid rgba(0, 0, 0, .5);
}
p, li, em {
  color: white;
  padding: .5em;
  margin: .5em;
/*  text-transform: capitalize;
  text-transform: full-width;*/
}
p{
  background-color: blue;
}
li{
    background-color: red;
}
