body {
  position: relative;
  font-family: 'Karla', sans-serif;
  font-size: 12px;
  /* margin:5em 5em */
  }

h2, h3 {
  background-color: lightgrey;
  padding: 15px 15px 10px;
  border-radius: 3px;
  text-decoration: underline;
  text-decoration-style: solid;
  line-height: 1em;
  }

.lang {
  font-style: oblique;
  }

.date {
  font-style: italic;
  font-weight: normal;
  }

table, tr, td:first-child, table.berufserfahrung td:first-child {
  width : 150px;
  font-style: italic;
  font-weight: normal;
  border-spacing: 100px 0;

}

div#educational {
  width : 320px;
  font-style: italic;
  min-height: 12.5em;

}

div#hobbies {
  position: relative;
  top: -4em;
}

div#details {
  text-indent: 1em each-line;
}
