#name{
  border: 2px;
  border-color: blue;
}
p{
  font-family: sans-serif;
}
#persoenliche-daten, #ausbildung, #berufserfahrung, #ausserberufliche-tätigkeiten,
#languages, #informatikkenntnisse, #hobbys {
    border: 1px;
    border-color: blue;
    background-color: lightgrey;
    padding: 5px;
    font-family: sans-serif;
    margin: 2em;
    border-top-right-radius: 40px 40px
    padding .5em 1em;
}
body{
  background-color: lightgrey;
}
#photo img{
  display: block;
  margin-right: 1000;
  margin-left: auto;
  float: right;
}
p{
  border: 1em;

}
