body {
  position: relative;
  font-family: sans-serif;
  font-size: 16px;
  margin:1em 1em;
}

#ausbildungsjahre, #ausbildungstyp {
  display: none;
}

table tr td:first-child {
  font-weight: bold;
  width: 100px;
}
